<!-- <h1>{{title}}</h1> -->
<!-- <div *ngIf="countryObj"> -->
    <!-- <h3 *ngIf="countryObj">Name:{{countryObj.name}}</h3>
    <h3 *ngIf="countryObj">Capital:{{countryObj.capital}}</h3>
    <h3 *ngIf="countryObj">Currency:{{countryObj.currencies[0].code}}--{{countryObj.currencies[0].symbol}}</h3>
    <img *ngIf="countryObj"  src="{{countryObj.flag}}" width="150" height="150">
    <input type="text" [(ngModel)]="countryName">
    <select [(ngModel)]="countryName">
      <option *ngFor="let country of countryList">{{country.name}}</option>
    </select> -->
<!-- </div> -->
<!-- <button (click)="getCountryInfo()">GetCountryInfo</button> -->
<div class="container">
    <app-loading-spinner *ngIf="showSpinner" style="position:absolute;z-index:999;top:20%;left:50%"></app-loading-spinner>
  <h5 style="background: yellow;color:red;text-align:center">{{title}}</h5>
  <div class="form-inline">
      <div class="row">
         <div class="col-sm-3">
            <div class="form-group"> 
                <input type="text"  [(ngModel)]="countryName" name="cName" class="form-control">
            </div>
         </div>
         <div class="col-sm-3">
            <div class="form-group">
                <select [(ngModel)]="countryName" class="form-control">
                  <option *ngFor="let country of countryList">{{country.name}}</option>
                </select>
            </div>
         </div>
         <div class="col-sm-3">
          <div class="form-group" style="margin-left:90px;"> 
              <input type="text"  [(ngModel)]="cityName" name="cName" class="form-control">
          </div>
       </div>
         <div class="col-sm-3">
            <div class="form-group">
                <select [(ngModel)]="cityName"  class="form-control">
                  <option *ngFor="let country of countryList">{{country.capital}}</option>
                </select>
            </div>
         </div>
      </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="text-align: center" colspan="2">{{tableHeading}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Country:</td><td>{{cityDetails.country}}</td>
      </tr>
      <tr>
        <td>City:</td><td>{{cityDetails.city}}</td>
      </tr>
      <tr>
        <td>Humidity:</td><td>{{cityDetails.humidity}}</td>
      </tr>
      <tr>
        <td>Pressure:</td><td>{{cityDetails.pressure}}</td>
      </tr>
      <tr>
        <td>Sunrise:</td><td>{{cityDetails.sunrise}}</td>
      </tr>
      <tr>
        <td>Sunset:</td><td>{{cityDetails.sunset}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="getForcast()">Get Forecast</button>
  <button class="btn btn-danger" (click)="getCityDetails()">Get CityDetails</button>
  <table class="table table-striped">
    <tr>
      <td>Country</td><td>{{cityResult.country}}</td>
    </tr>
    <tr>
      <td>City</td><td>{{cityResult.city}}</td>
    </tr>
    <tr>
      <td>Humidity</td><td>{{weatherResult.humidity}}</td>
    </tr>
    <tr>
      <td>Pressure</td><td>{{weatherResult.pressure}}</td>
    </tr>
    <tr>
      <td>Description</td><td>{{weatherResult.description}}</td>
    </tr>
  </table>
</div>